

<form action="/payment/results">
<label for="apr">APR</label>
<input type="text" id="apr" placeholder="E.g. 5.42">
<label for="num_of_years">Number of years</label>
<input type="text" id="num_of_years" placeholder="how many years to repay?">
<label for="principal">Principal</label>
<input type="text" id="principal" placeholder="how much principal?">
<button>Calculate monthly payment</button>
</form>
