<form action="/random/results">
<label for="min_num">Minimum</label>
<input type="text" name="minimum" id="min_num" placeholder="E.g 1.5">
<label for="max_num">Maximum</label>
<input type="text" name="maximum" id="max_num" placeholder="E.g 4.5">
<button>Pick random number</button>
</form>
